{% extends 'base.html' %}

{% block title %}Listado de Trabajadores{% endblock %}

{% block content %}
<h1>Listado de Trabajadores</h1>
<a href="{% url 'trabajador_create' %}" class="btn btn-primary mb-2">Agregar Trabajador</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Ingreso</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for trabajador in trabajadores %}
            <tr>
                <td>{{ trabajador.nombre }}</td>
                <td>{{ trabajador.apellido }}</td>
                <td>{{ trabajador.fecha_ingreso }}</td>
                <td>{{ trabajador.estado_activo }}</td>
                <td>
                    <a href="{% url 'trabajador_edit' trabajador.id %}" class="btn btn-secondary btn-sm">Editar</a>
                    <a href="{% url 'trabajador_delete' trabajador.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
